[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-01-28 14:48:21.860339
PyYAML = 5.3
argh = 0.26.2
collective.transmogrifier = 1.5.2
createcoverage = 1.5
mccabe = 0.6.1
pathtools = 0.1.2
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pyflakes = 1.5.0
transmogrify.dexterity = 1.6.4
watchdog = 0.9.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.40

# Required by:
# redturtle.importer.base==1.0.6.dev0
collective.jsonmigrator = 1.0.1

# Required by:
# collective.jsonmigrator==1.0.1
# transmogrify.dexterity==1.6.4
plone.app.transmogrifier = 1.4.1

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.8

# Required by:
# collective.jsonmigrator==1.0.1
zope.app.container = 4.0.0

# Added by buildout at 2020-02-02 11:37:01.168384

# Required by:
# flake8==3.3.0
configparser = 3.7.4

# Added by buildout at 2020-02-03 11:23:16.098486
flake8-coding = 1.3.2
flake8-debugger = 3.2.1
flake8-print = 3.1.4
plone.restapi = 6.2.2
